
{% extends 'all_news/base.html' %}
 {% load static %}
  {% load bootstrap4 %}
  {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center mb-0" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>

  </div>
</div>



<div class="container">
    {% for image in pictures %}
    <div class="card" style="width: 35em;margin-top:6%;margin-left: 20%;">
   
        <span style="font-family:  sans-serif;"><img  src="{{user.profile.profile_pic.url}}" alt="Profile" class="img-responsive img_profile" >{{ image.user}}</span>
            
             
        <img src="{{image.image.url}}" height="400" alt="pict" class="img-responsive" id="eachimage" >
        <div class="card-body">
         <p><i class="fa fa-heart"></i> <i class="fa fa-comment"></i></p> 
 <p  style="font-family: sans-serif;"> Caption : {{ image.description}}</p>
 <hr>
          {% for com in image.comment_set.all %}
          <p>{{com.comment}}</p>
          {% endfor %}
 
        <a><i class="fa fa-comment"></i>
<input class="form-control" type="text" value="" id="link" placeholder="add comment"><button action="">post</button></a>
 
 
 
</div>


</div>
  {% endfor %}
  </div>

<div class="jumbotron text-center mt-0" style="background-color:white;">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm  %}
    <input type="submit" value="Subscribe here">
  </form>

</div>
<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">

          <li style="font-size:10px;"> <strong>Dukunde Marie Jeanne © 2019</strong></li>
        </ul>

      </div>

    </div>
  </div>
  <style>
    .img_profile{
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius:50%;
    }
  </style>
{% endblock %}