
{% extends 'all_news/base.html' %}
 {% load static %}
  {% load bootstrap4 %}
  {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center mb-0" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>

  </div>
</div>



<div class="container">
    {% for image in pictures %}
    <div class="panel-group">
        <div class="panel panel-default">
                <p class="panel-header" style="font-family:  sans-serif;">{{ image.user}}</p>
        <img src="{{image.image.url}}" class="panel-body" data-toggle="modal" alt="pict" class="img-fluid" id="eachimage"
          size="100px200">
 <p class="panel-footer" style="font-family: sans-serif;"> Caption : {{ image.description}}</p>
      

    </div>
</div>
    {% endfor %}
  </div>

<div class="jumbotron text-center mt-0" style="background-color:white;">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm  %}
    <input type="submit" value="Subscribe To Instagram ">
  </form>

</div>
<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">

          <li style="font-size:10px;"> <strong>Dukunde Marie Jeanne © 2019</strong></li>
        </ul>

      </div>

    </div>
  </div>
{% endblock %}