
{% extends 'all_news/base.html' %}
 {% load static %}
  {% load bootstrap4 %}
  {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px; text-align: center;">Instagram</h1>

    {% for image in pictures %}
    <div class="card" style="width: 35em;margin-top:6%;margin-left: 20%;">
   
        <span style="font-family:  sans-serif;"><img  src="{{user.profile.profile_pic.url}}" alt="Profile" class="img-responsive img_profile" >{{ image.user}}</span>
            
             
        <img src="{{image.image.url}}" height="400" alt="pict" class="img-responsive" id="eachimage" >
        <div class="card-body">
          <div>
            <a class="like" id="like">
              <i class="fa fa-heart-o" >Like</i>
            
            </a>
            <input type="text" class="likes" readonly="readonly" value="0" name="like" id="li" onclick="myfunction()">
            <a href="{% url 'comment' image.id %}"><i class="fa fa-comment-o" style="color: black;"></i></a>
          </div>
         
 <p  style="font-family: sans-serif;"> Caption : {{ image.description}}</p>
 <hr>
          {% for com in image.comment_set.all %}
          <p>{{com.comment}}</p>
          {% endfor %}
          <p>add comment ...</p>
 
        

 
 
 
</div>


</div>
  {% endfor %}
  </div>
  
<div class="jumbotron text-center mt-0" style="background-color:white;">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm  %}
    <input type="submit" value="Subscribe here">
  </form>

</div>
<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">

          <li style="font-size:10px;"> <strong>Dukunde Marie Jeanne © 2019</strong></li>
        </ul>

      </div>

    </div>
  </div>
  <style>
    .img_profile{
      vertical-align: middle;
      width: 50px;
      height: 50px;
      border-radius:50%;
    }
  </style>
  <script>


    $(function(){
      var num = 0
      
      $(".like").click(function(){
        var input=$ (this).find('.likes');
        input.val(parseInt(input.val())+1);
      });
    });
    
  </script>
  <script>
      function myFunction(){
          var num = 0;
          var likes = document.getElementById("li").innerHTML;
          document.parseInt("likes")+1;
        
      }
  </script> 
{% endblock %}