{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="content-section">
         <div class="media">
           <img src="{{user.profile.profile_pic.url}}" alt="Profile" class="" style="width: 60%; height: 60%;">
           <div class="media-body">
             <h4 class="account-heading ml-4">{{user.username}}</h4><button class="btn btn-outline-primary"><a href="{% url 'profile_edit' %}" ></a>Edit Profile</button>
             <p class="text-secondary ml-4">Email:{{user.email}}</p>
             <p class="text-secondary ml-4">Bio:{{user.profile.bio}}</p>
             
           </div>
         </div>
         <form method="Post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
            
            {% if current_user.profile == user.profile %}
                    <a href="{% url 'profile_edit' %}" ><button class="btn btn-outline-primary">Edit Profile</button></a>
                {% endif %}
          </div>
        </form>
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
  {% endblock %}
                
                      
              